.tag {
    width: 130px;
    height: 41px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    > div {
        padding: 10px;
        display: inline-block;
        > h4 {
            margin: 0px;
            display: inline;
        }
    }
    
   
}

.tag:hover {
    cursor: pointer;
    width: 150px;
    height: 55px;
    transition: width 0.5s, height 0.5s;
}

.tag:not(:hover) {
    transition: width 0.5s, height 0.5s;
}